// main section item image
.plus {
    font-weight: lighter;
    font-size: 18px;
    color: #dfd7c6;
}
#img-1 {
    position: relative;
    overflow: hidden;
    height: 265px;
    width: 100%;
    border-radius: 8px;
}

#img-1 img {
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.img-block {
    position: absolute;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -100px;
    z-index: 2;
}
.img-block1 {
    position: absolute;
    padding: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 40px;
    font-weight: bold;
    top: -100px;
    z-index: 2;
}

@keyframes slide-up {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0px;
    }
}

#img-1:hover > .img-block {
    animation: slide-up 0.5s forwards;
}

#img-1:hover > #image {
    animation: zoom-blur 2s forwards;
}
@keyframes slide-up1 {
    from {
        top: -100px;
    }
    to {
        top: 0px;
    }
}

#img-1:hover > .img-block1 {
    animation: slide-up1 1.5s forwards;
}
@keyframes zoom-blur {
    from {
        transform: scale(1);
        filter: blur(0px);
    }
    to {
        transform: scale(1.2);
        filter: blur(5px);
    }
}
