// main section item image
.plus {
    font-weight: bold;
    font-size: 13px;
    // color: #dfd7c6;

    margin: 40px 0 0 20px;
}
#img-1 {
    position: relative;
    overflow: hidden;
    height: 265px;
    width: 100%;
    border-radius: 8px;
}

#img-1 img {
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.img-block {
    position: absolute;

    width: 100%;

    bottom: -100px;
    z-index: 2;
}

@keyframes slide-up {
    from {
        bottom: -50px;
    }
    to {
        bottom: -20px;
    }
}

#img-1:hover > .img-block {
    animation: slide-up 0.5s forwards;
}

#img-1:hover > #image {
    animation: zoom-blur 2s forwards;
}
@keyframes slide-up1 {
    from {
        top: -100px;
    }
    to {
        top: 0px;
    }
}

@keyframes zoom-blur {
    from {
        transform: scale(1);
        // filter: blur(0px);
    }
    to {
        transform: scale(1.2);
        // filter: blur(5px);
    }
}
@media (max-width: 410px) {
    img .art-img {
        height: 150px;
        width: 200px !important;
    }
}
