// main section item image
.plus {
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    margin: 40px 0 0 20px;
}
#img-1 {
    position: relative;
    overflow: hidden;
    height: 265px;
    width: 430px;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 10px;
}

.img-block {
    position: absolute;
    bottom: -50px;
}

@keyframes slide-up {
    from {
        bottom: -50px;
    }
    to {
        bottom: -20px;
    }
}
#image {
    width: 100%;
}
#img-1:hover > .img-block {
    animation: slide-up 0.5s forwards;
}

#img-1:hover > #image {
    animation: zoom-blur 2s forwards;
}
@keyframes slide-up1 {
    from {
        top: -100px;
    }
    to {
        top: 0px;
    }
}

@keyframes zoom-blur {
    from {
        transform: scale(1);
        filter: blur(0px);
    }
    to {
        transform: scale(1.1);
        filter: blur(2px);
    }
}
@media (max-width: 410px) {
    img .art-img {
        height: 150px;
        max-width: 200px !important;
    }
    #image {
        height: 100%;
    }
}
