//pagination

.navigationButtons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 80px;
}

.navigationButtons a {
    padding: 10px 20px !important;
    border: 1px solid rgb(240, 237, 233);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    margin: 8px;
    border-radius: 50px;
    color: #5b422c;
    cursor: pointer;
}

.navigationButtons a:hover {
    color: orangered;
    background-color: rgb(214, 207, 197);
}

.navigationActive a {
    color: orangered;
    background-color: rgb(214, 207, 197);
}

// .navigationDisabled a {
//     color: grey;
//     background-color: grey;
// }

//style

//like-icon
.list2-item-cat {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}

.list2-item-cat::before {
    content: '';
    position: absolute;
    top: 0;
    width: 65px;
    min-height: 50px;
    background: #dcdad3;
    border-radius: 22.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.list2-item-cat .rank-cat {
    position: relative;
    top: 15px;
    left: 6px;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.heart {
    color: white;
    font-size: 18px !important;
}

.heart:hover {
    color: red;
}
.list2-item-cat:hover::before {
    background-color: #d9cdae;
}
//category icon
.list1-item-cat {
    position: relative;
    padding-top: 6px;
    top: 10px;
    display: flex;
    cursor: pointer;
}

.list1-item-cat::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 0;
    width: 65px;
    min-height: 50px;
    background: #dcdad3;
    border-radius: 22.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px rgba(60, 52, 52, 0.5);
    transition: 0.5s;
}
.list1-item-cat:hover::before {
    width: 100%;
}

.list1-item-cat .rank-cat {
    position: relative;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.list1-item-cat .rank-cat span {
    position: relative;
    top: -16px;
    left: 15px;
    transition: 0.5s;
}
.list-item-cat .rank-cat span {
    position: relative;
    top: -16px;
    left: 10px;
    transition: 0.5s;
}

.list1-item-cat .name-cat {
    position: relative;
    top: -45px;
    left: 10px;
}

.list1-item-cat:hover::before {
    background-color: #d9cdae;
}
///////

.art-grid {
    margin: 30px;

    .art-item {
        display: flex;
        overflow: hidden;
        &:hover {
            .art-img-wrap {
                .art-img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .art-img-wrap {
        border-radius: 10px;
        position: relative;
        top: 70px;
        left: 40px;

        .art-img {
            border-radius: 10px;
            max-width: 500px;
            width: 350px;
            max-height: 300px;
            height: 250px;
            transition: all 2s ease;
        }
    }
    .art-category {
        padding: 50px 30px;
        max-width: 450px;
        min-height: 400px;
        background: #fff;

        border-radius: 10px;
    }

    .art-meta {
        display: flex;
        align-items: center;
        position: relative;
        top: 40px;
        font-size: 11px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        color: orangered;
        transition: color 0.3s ease;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

    .art-separator {
        margin: 0 6px;
    }

    .art-text {
        font-size: 14px;
        padding: 15px 0;
    }
}

@media (max-width: 400px) {
    .previous .previousButton,
    .next .nextButton {
        display: none;
    }

    .navigationButtons a {
        padding: 10px 5px !important;
    }

    .art-grid {
        .art-img-wrap {
            border-radius: 10px;
            position: relative;
            top: 70px;
            left: 0px;

            .art-img {
                border-radius: 10px;
                width: 100%;

                height: 100px;
                transition: all 2s ease;
            }
        }
        .art-grid .art-category {
            width: 200px;
        }
        .title3-card,
        p {
            font-size: 10px;
        }
    }
}

@media (max-width: 280px) {
    .art-grid {
        width: fit-content;
        .art-img-wrap {
            border-radius: 10px;
            position: relative;
            top: 70px;
            left: 0px;

            .art-img {
                border-radius: 10px;
                width: 50%;
                height: 50px;
            }
        }

        .title3-card,
        p {
            font-size: 10px;
        }
    }
    .art-grid .art-category {
        max-width: 50%;
    }
    .art-meta {
        right: 40px;
        top: 40px;
        font-size: 5px !important;
    }
    .list1-item-cat::before {
        display: none;
    }
    .list1-item-cat .name-cat {
        position: relative;
        top: -45px;
        left: -80px;
    }
    .list1-item-cat .rank-cat span {
        display: none;
    }
    .list2-item-cat {
        display: none;
    }
}
