.app-title {
    color: #888;
    margin: 10px;

    .mainTitle {
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;

        color: rgb(147, 151, 158);
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
        padding-left: 45px;
        margin-left: -20px;
        border-left: 5px solid orangered;
    }

    p {
        font-weight: 200;
        opacity: 0.7;
        font-size: 80%;
    }
}
