* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list1-item {
    position: relative;
    display: flex;
    margin: 15px 0;
    cursor: pointer;
    top: -12px;
    left: 25px;
    width: 65px;
    min-height: 50px;
    background: #dcdad3;
    border-radius: 22.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px rgba(60, 52, 52, 0.5);
    transition: 0.5s;
}

.list1-item .rank {
    position: relative;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.list1-item .rank span {
    position: relative;
    top: 3px;
    left: 9px;
    transition: 0.5s;
}

.list1-item .name {
    position: relative;
    line-height: 1.15rem;
}

.list1-item .name h4 {
    font-weight: 600;
    color: #bcbcc0;
    transition: 0.5s;
}

.list1-item .name p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #95999d;
    transition: 0.5s;
}
.list1-item:hover::before {
    background-color: #d9cdae;
}
.heart:hover {
    color: red;
}
