* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list2-item {
    position: relative;
    left: 25px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    top: 0;
    left: 55px;
    width: 65px;
    min-height: 50px;
    background: #dcdad3;
    border-radius: 22.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.list2-item .rank span {
    position: relative;
    left: 23px;
    top: 3px;
}

.list2-item:hover {
    background-color: #d9cdae;
}
