* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.list-item,
.list-item-active {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    top: 0;
    left: 0;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: #dcdad3;

    border-radius: 22.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.5),
        inset -2px -2px 3px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.list-item:hover::before {
    width: 100%;
}

.list-item .rank {
    position: relative;
    left: 4px;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.list-item .rank::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    width: 40px;
    height: 40px;
    background: rgb(67, 48, 41);
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
}

.list-item:hover .rank::before {
    transform: scale(1);
}

.list-item .rank span {
    position: relative;
    right: 3px;
    transition: 0.5s;
}

.list-item .name {
    position: relative;
    line-height: 1.15rem;
}

.list-item .name h4 {
    font-weight: 600;
    color: #bcbcc0;
    transition: 0.5s;
}

.list-item .name p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #95999d;
    transition: 0.5s;
}

.list-item:hover .name h4,
.list-item:hover .name p {
    color: orangered;
}
.list-item-active {
    top: 1px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 21px 0;
    cursor: pointer;
    height: 47px;
    color: orangered;
    background: #dcdad3;
    border-radius: 22.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.5),
        inset -2px -2px 3px rgba(0, 0, 0, 0.5);

    .rank {
        position: relative;
        left: 2px;
        min-width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 10px;
        background: rgb(67, 48, 41);
        border-radius: 30px;

        // transform: scale(0);
        // transition: 0.5s;
    }
}
