//3D shadow button

.myButton {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

    border: none;
    font-weight: bold;
    color: rgb(58, 58, 109);
    text-transform: uppercase;
    border: 1px solid rgb(214, 207, 197);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.myButton:hover {
    background-color: rgb(214, 207, 197);
    font-weight: bold;
    color: rgb(201, 10, 26);
}

//sliding button

.btn2 {
    background: transparent;
    height: 50px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(135, 137, 150);

    p {
        z-index: 10;
        transition: 0.3s;
        text-transform: uppercase;
    }

    h5 {
        position: absolute;
        top: 13px;
        right: 25px;
        font-size: 20px;
        opacity: 0;
        transition: 0.3s ease-out;
    }
}

.btn2:hover p {
    color: rgb(0, 0, 0);
}
.btn2-1:hover p {
    margin-right: 23px;
    color: rgb(238, 238, 238);
}

.btn2-1:hover h5 {
    opacity: 1;
    color: orangered;
}
