.header-menu {
    height: 75px;
    background-image: linear-gradient(
        90deg,
        #31260c 0%,
        #a35410 55%,
        #31260c 100%
    );

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    border: transparent !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    color: wheat !important;
}
.favorite {
    margin-right: 40px;
    margin-top: -25px;
}
.logo {
    padding-bottom: 30px;
}

@media (max-width: 1050px) {
    .search {
        margin-bottom: -30px;
        margin-right: 100px;
    }
    .favorite {
        margin-right: 40px;
        margin-top: 0;
    }
    .logo {
        padding-top: 20px;
    }
}

@media (max-width: 600px) {
    .search {
        display: none;
    }
    .favorite {
        margin-right: 140px;
        margin-top: 0;
    }
}
@media (max-width: 360px) {
    .favorite {
        display: fixe;
    }
}
