#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
    margin-top: 75px;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #dfd7c6;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background: url('../../../public/images/art8.jpg');
}

/* .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    color: #dfd7c6;
    
} */

.swiper-slide .subtitle {
    width: 50%;
    font-size: 21px;
    margin-bottom: 15px;
}

.swiper-slide .text {
    font-size: 14px;
    /* max-width: 400px; */
    max-width: 80%;
    line-height: 1.3;
    margin-left: 40px;
}
.swiper-slide .text p {
    color: #dfd7c6;
}
.swiper-slide .text img {
    max-width: 100%;
    margin-left: 50%;
    border-radius: 5px;
}

.grid-item {
    padding: 30px 0;
}
.swiper-button {
    background-color: transparent;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    color: #dfd7c6;
    font-size: 13px;
    font-weight: bold;
}
.swiper-button:hover {
    background-color: transparent;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom-color: orangered;
    color: #dfd7c6;
    font-size: 12px;
}
.swiper-button-prev,
.swiper-button-next {
    color: #dfd7c6 !important;
}
@media (max-width: 900px) {
    .swiper-slide .text img {
        margin-left: 0px;
    }
}

/* figcaption */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    /* max-width: 310px;
    max-height: 220px; */
    width: 100%;
    background: #000000;
    text-align: left;
    border-radius: 5px;
}
figure.snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip img {
    max-width: 100%;
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    min-height: 250px;
}
figure.snip figcaption {
    position: absolute;
    bottom: 0;
    top: 10px;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
}
figure.snip figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.snip h2,
figure.snip p {
    color: beige;
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
        -o-transform 0.35s, transform 0.35s;
}
figure.snip h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(20%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    font-size: 14px;
}
figure.snip h2 span {
    font-weight: 800;
}
figure.snip p {
    font-weight: 200;
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.snip a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip:hover img {
    opacity: 0.6;
}
figure.snip:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
figure.snip:hover figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(20%, 950%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.snip:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
